body {
    background-color: #000;
    color: #E3E3E3;
    text-align: center;
    font-family: "Kranky", serif;
    font-weight: 400;
    font-style: normal;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}

h1 {
    font-size: 6rem;
    margin: auto;
}

h2 {
    font-size: 2rem;
}

.main-logo {
    width: 500px;
}

.title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}